In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("../../FACS_Sampling/datasets/AML_samples_and_myeloid_cells_only_SSC_FSC.csv")

/var/folders/b9/mqf9wk292h39196nq6pcyk0jd6kxs7/T/ipykernel_18714/1911568729.py:1: DtypeWarning: Columns (33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../../FACS_Sampling/datasets/AML_samples_and_myeloid_cells_only_SSC_FSC.csv")

In [4]:
data.head()

,FSC-A,FSC-H,FSC-W,SSC-A,SSC-H,SSC-W,CD33,HLA-DR,CD19 CD3,CD11b,...,CD117_aligned,CD45RA_aligned,CD34_aligned,ITGB7_aligned,CD88 CD89_aligned,FcER1A_aligned,Alignment_MC_aligned,FlowSOM_cluster,FlowSOM_metacluster,Population
0,70,121,450,186,169,311,294,287,410,476,...,458.406250,500.299988,296.824463,347.100006,491.173523,375.899994,12,169,24,(progenitor) Erythroid like
1,150,226,529,186,155,333,588,761,273,278,...,555.491211,732.909546,641.099976,722.649963,154.573563,393.399994,13,47,2,HSPC like
2,80,157,434,79,77,257,388,357,329,489,...,464.079620,402.600006,343.799988,608.007690,536.606140,533.189819,12,170,29,Granulocyte progenitor like
3,91,190,434,41,38,245,331,242,262,237,...,411.399994,484.799988,295.200012,323.399994,258.047852,373.790985,12,129,24,(progenitor) Erythroid like
4,144,251,501,221,201,315,716,514,280,794,...,454.515869,385.299988,261.856262,396.500000,787.912476,343.299988,4,40,8,classical Monocytes

In [ ]:
data.columns

In [6]:
data['Type'].value_counts()

BM    25960694
PB     8912071
Name: Type, dtype: int64

In [25]:
# Group by 'sample_id' and check if each group has only one unique value in 'type'
consistent_types = data.groupby('unique_ID')['Subtype'].nunique() == 1

# To see the result for each sample_id
print(consistent_types)

# To check if all sample_ids have consistent types
all_consistent = consistent_types.all()
print(f"All sample_ids have consistent types: {all_consistent}")

unique_ID
102_2    True
104_4    True
105_2    True
107_1    True
108_2    True
         ...
80_4     True
84_2     True
86_3     True
91_9     True
95_8     True
Name: Subtype, Length: 100, dtype: bool
All sample_ids have consistent types: True

In [29]:
print(data['Subtype'].value_counts().keys())

Index(['NK, NPM1+ FLT3-ITD (>0,5)', 'NK, NPM1+',
       'NK, NPM1-WT; FLT3-ITD (<0,5)', 'NK, NPM1+ FLT3-ITD (<0,5)', 'inv(16)',
       'Trisomy 8', 'NK, NPM1-wt, FLT3-wt', 'APL', 'complex, TP53', 'IDH2',
       'NK, NPM1-WT; FLT3-ITD (>0,5)', 't(8;21), c-Kit', 'NK, CEBPA',
       'healthy', 'EVI1', 'del5', 'complex, del5', 't(8;21)', 'IDH1'],
      dtype='object')

In [17]:
data[['unique_ID', 'Sex', 'Age', 'Subtype']]

          unique_ID Sex  Age  Subtype
0         210929_10   M   29  healthy
1         210929_10   M   29  healthy
2         210929_10   M   29  healthy
3         210929_10   M   29  healthy
4         210929_10   M   29  healthy
...             ...  ..  ...      ...
34872760   210825_9   F   25  healthy
34872761   210825_9   F   25  healthy
34872762   210825_9   F   25  healthy
34872763   210825_9   F   25  healthy
34872764   210825_9   F   25  healthy

[34872765 rows x 4 columns]

In [13]:
data['unique_ID', 'Sex', 'Age', 'Subtype', 'Type', 'Blastcount', 'Survival_Sorter', 
     'run','Sample_ID','Alignment_MC_aligned'].head()

KeyError: ('unique_ID', 'Sex', 'Age', 'Subtype', 'Type', 'Blastcount', 'Survival_Sorter', 'run', 'Sample_ID', 'Alignment_MC_aligned')

In [ ]:
'FSC-A', 'FSC-H', 'FSC-W', 'SSC-A', 'SSC-H', 'SSC-W', 'unique_ID', 'Sex', 'Age', 'Subtype',
'Type', 'Blastcount', 'CD34.', 'Survival_Sorter', 'run','Sample_ID','Alignment_MC_aligned',
'FlowSOM_cluster', 'FlowSOM_metacluster','Population'

In [13]:
data['CD34'].describe()

count    3.487276e+07
mean     4.281857e+02
std      2.030859e+02
min      0.000000e+00
25%      2.720000e+02
50%      3.410000e+02
75%      6.270000e+02
max      1.023000e+03
Name: CD34, dtype: float64

In [14]:
 data['CD34.'].describe()

count     33990255
unique          80
top              0
freq       4254616
Name: CD34., dtype: int64

In [15]:
data['CD34_aligned'].describe()

count    3.487276e+07
mean     4.341540e+02
std      1.992054e+02
min     -8.133927e+02
25%      2.800000e+02
50%      3.495685e+02
75%      6.336549e+02
max      6.788945e+03
Name: CD34_aligned, dtype: float64

In [16]:
data['CD117'].describe()

count    3.487276e+07
mean     5.286097e+02
std      9.580112e+01
min      0.000000e+00
25%      4.570000e+02
50%      5.170000e+02
75%      5.910000e+02
max      1.023000e+03
Name: CD117, dtype: float64

In [19]:
 data['Population'].value_counts()

HSPC like                            7983931
classical Monocytes                  7275915
late Promyelocyte like               5798494
(progenitor) Erythroid like          4107899
Myelocytes                           1800144
activated classical Monocyte like    1748648
early Promyelocyte like              1137604
intermediate Monocyte like           1046616
CD117+ HSCP like                      971614
pDC progenitor like                   847154
Neutrophil like                       494428
Granulocyte progenitor like           455912
non-classical Monocyte like           435163
conventional Dendritic like           400733
pDC like                              213791
Eosinophil like                       154719
Name: Population, dtype: int64